{{#d-modal-body class="composer-audio-upload-modal"}}
  <div class="composer-audio-upload-content">
    <h4>Record an audio file</h4>
    <p>
      <button class="btn btn-secondary" type="button" {{action "startStopRecording"}} class="record-button" disabled={{disallowRecord}}>
        {{#if isRecording}}
        Stop recording
        {{else}}
        Start recording
        {{/if}}
      </button>
      &nbsp;
      <button class="btn btn-secondary" type="button" {{action "startStopPlayback"}} class="play-button" disabled={{disallowPlayback}}>
        {{#if isPlaying}}
        Stop playback
        {{else}}
        Start playback
        {{/if}}
      </button>
    </p>
    <p>
      {{#if isProcessing}}
      <em class="description">Processing audio data, please wait...</em>
      {{else if isRecording}}
      &nbsp;
      {{else if hasRecording}}
      Recording time: <strong>{{recordingDuration}}</strong> ({{recordingSize}})
      {{else}}
      Nothing has been recorded yet
      {{/if}}
    </p>
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button action="uploadFile" class='btn-primary' icon=uploadIcon label='upload'}}
  {{d-modal-cancel close=(action "closeModal")}}
</div>
